.user-form {
  display: flex;
  flex-wrap: wrap;

  width: 400px;

  padding: 0;
  margin: 0 auto;

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 500px;

    padding-bottom: 25px;
    font-size: 19px;
  }

  &__sign-in {
    margin-top: 15px;
  }

  &__button {
    padding: 15px 36px 15px 36px;

    background-color: #8bc540;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    color: white;

    font-size: 16px;

    outline : none;
    cursor: pointer;
  }

  &__link {
    padding-top: 13px;

    &--register {
      font-size: 18.5px;
    }
  }

  &__label {
    margin-bottom: 10px;
  }

  &__input {
    height: 45px;
    width: 100%;
    padding: 5px 10px;

    border-radius: 7px;

    font-size: 20px;
    line-height: 26px;

    outline : none;
  }

  &__error {
    margin: 10px 0;

    font-size: 20px;
    color: darkcyan;
  }
}

@media (max-width: 400px) {
  .user-form {
    width: 300px;

    &__item {
      width: 290px;

      font-size: 14px;
    }

    &__link {
      padding-top: 10px;

      &--register {
        font-size: 14px;
      }
    }

    &__button {
      padding: 10px 31px 10px 31px;

      font-size: 13px;
    }

    &__input {
      padding: 3px 7px;

      border: 1px solid rgba(191, 191, 191, 1);
    }
  }
}