.main__list {
  display: flex;
  flex-wrap: wrap;

  width: 1300px;
  margin: 0 auto 80px auto;
}

.main__admin {
  margin: 0 auto;
}

.main__item  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;

  margin-top: 60px;
  margin-bottom: 40px;
  padding: 0 40px 0;


  border: 1px solid rgba(0,0,0, 0.2);
  border-radius: 20px;
}

.main__description {
  width: 600px;
  margin-top: 20px;
}

.box-width {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box-button {
  padding: 10px 30px;
  margin-top: 20px;

  background-color: #8bc540;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  color: white;

  font-size: 16px;

  outline : none;
  cursor: pointer;
}

.main__images {
  display: flex;
  flex-wrap: wrap;

  margin: 20px 0;

  width: 500px;
}

.main__image {
  width: 33.32%;

  &--1 {
    width: 100%;
  }

  &:hover {
    opacity: 0.85;
  }
}


@media (max-width: 400px) {
  .main__list {
    width: 390px;
  }

  .main__description {
    width: 397px;
  }

  .main__item {
    padding: 0;
  }

  .main__image {
    width: 126.66px;

    &--1 {
      width: 380px;
    }
  }

  .box-width {
    width: 100%;
  }
}