@import "../../var.scss";

.main__list {
  display: flex;
  flex-wrap: wrap;


  width: 1300px;
  margin: 0 auto 80px auto;
}

.main__admin {
  margin: 0 auto;
}

.main__item  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;

  margin-top: 60px;
  margin-bottom: 40px;
  padding: 0 40px 0;


  border: 1px solid rgba(0,0,0, 0.2);
  border-radius: 20px;
}

.main__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 100%;

  margin-top: 10px;
}

.main__details {
  width: 100%;

  margin: 20px 0;
  padding: 0 10px;

  border: 1px solid black;
}

.main__calendar {
  width: 41%;
}

.main__images {
  display: flex;
  flex-wrap: wrap;

  margin: 20px 0;

  width: 500px;
}

.main__image {
  width: 33.32%;

  &--1 {
    width: 100%;
  }

  &:hover {
    opacity: 0.85;
  }
}


@media (max-width: $mobile) {
  .main__list {
    width: 390px;
  }

  .main__item {
    padding: 0;
  }

  .main__description {
    width: 100%;
  }

  .main__image {
    width: 126.66px;

    &--1 {
      width: 380px;
    }
  }

  .main__user--list {
    width: 360px;
  }

  .main__user--item {
    width: 330px;

    padding: 10px 7px;
  }

  .a {
    margin: 5px 0 0 40px;
    width: 120px;
  }

  .b {
    width: 100px;
    margin: 5px 0 0 50px;

  }
}