.main__list {
  display: flex;
  flex-wrap: wrap;


  width: 1300px;
  margin: 0 auto 80px auto;
}

.main__admin {
  margin: 0 auto;
}

.main__item  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;

  margin-top: 60px;
  margin-bottom: 40px;
  padding: 0 40px 0;


  border: 1px solid rgba(0,0,0, 0.2);
  border-radius: 20px;
}

.main__description {
  width: 600px;
  margin-top: 20px;
}

.main__user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 20px;
}

.main__title {
  display: flex;
  justify-content: space-around;

  width: 485px;
}

.main__user--list{
  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  width: 470px;
  height: 200px;

  padding: 0 0 0 15px;

  border-bottom: 1px solid rgba(0,0,0, 0.5);

  box-shadow:  inset 0 0 10px hsla(0,0%,0%,.2),
  inset -10px -5px 15px -2px  #8bc540;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: white;

    &-track {
      -webkit-box-shadow: inset 0 0 6px grey;
      background-color: #8bc540;
    }

    &-thumb {
      background-color: rgba(108, 122, 137, 1);
    }
  }
}

.main__user--item {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;

  width: 440px;
  height: 60px;

  margin: 10px 0;
  padding: 5px 6px;

  font-size: 17px;

  border: 1px solid black;
  border-radius: 15px;
}

.a {
  width: 260px
}

.b {
  margin: 0 0 0 30px;

  width: 160px;

  text-align: center;
}

.box-width {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 490px;
}

.box-button {
  padding: 10px 30px;
  margin-top: 20px;

  background-color: #8bc540;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  color: white;

  font-size: 16px;

  outline : none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.border {
  position: absolute;

  top: 0;
  left: 270px;

  height: 66px;
  width: 45px;
  border-left: 1px solid black;
  border-radius: 13px;
}

.main__images {
  display: flex;
  flex-wrap: wrap;

  margin: 20px 0;

  width: 500px;
}

.main__image {
  width: 33.32%;

  &--1 {
    width: 100%;
  }

  &:hover {
    opacity: 0.85;
  }
}


@media (max-width: 400px) {
  .admin__list {
    width: 390px;
  }

  .main__item {
    padding: 0;
  }

  .main__image {
    width: 126.66px;

    &--1 {
      width: 380px;
    }
  }

  .main__user--list {
    width: 360px;
  }

  .main__user--item {
    width: 330px;

    padding: 10px 7px;
  }

  .a {
    margin: 5px 0 0 40px;
    width: 120px;
  }

  .b {
    width: 100px;
    margin: 5px 0 0 50px;

  }
}