@import "../../var.scss";

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 20%;

  padding: 5px 0 5px 0;

  &--booked {
    width: 7%;
    height: 100%;
  }
}

.buttons__admin {
  padding: 4px 15px;

  background-color: #8bc540;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  color: white;

  font-size: 16px;

  outline : none;
  cursor: pointer;

  &--mobile {
    display: none;
  }

  &:first-child {
    margin-bottom: 2px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.buttons__main {
  height: 50px;

  padding: 15px 25px;
  margin: 0;

  font-size: 20px;
  color: white;
  text-decoration: none;

  background-color: #8bc540;
  border: none;
  border-radius: 10px;

  outline : none;
  cursor: pointer;
}

@media (max-width: $mobile) {
  .buttons--booked {
    width: 20%;
  }

  .buttons__admin--cover {
    display: none;
  }

  .buttons__admin--mobile {
    display: block;

    padding: 0 10px;

    font-size: 12px;
  }

  .buttons__main {
    margin-top: 20px;
  }
}