@import "../../var.scss";

.admin__list {
  display: flex;
  flex-wrap: wrap;

  width: 1300px;
  margin: 0 auto 80px auto;
}
.admin__item  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;

  margin-top: 60px;
  margin-bottom: 40px;
  padding: 0 40px 0;


  border: 1px solid rgba(0,0,0, 0.2);
  border-radius: 20px;
}

.admin__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 100%;

  margin-top: 10px;
}

.admin__calendar{
  width: 50%;
  margin-top: 4%;
}

.box {
  width: 100%;

  margin-top: 30px;
}

.box-width {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box-button {
  padding: 10px 20px;
  margin: 20px 0;

  background-color: #8bc540;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  color: white;

  font-size: 16px;

  outline : none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.border {
  position: absolute;

  top: 0;
  left: 270px;

  height: 66px;
  width: 45px;
  border-left: 1px solid black;
  border-radius: 13px;
}

.admin__images {
  display: flex;
  flex-wrap: wrap;

  margin: 20px 0;

  width: 500px;
}

.admin__image {
  width: 33.32%;

  &--1 {
    width: 100%;
  }

  &:hover {
    opacity: 0.85;
  }
}


@media (max-width: $mobile) {
  .admin__list {
    width: 390px;
  }

  .admin__item {
    padding: 0;
  }

  .first {
    order: 1;
  }

  .second {
    order: 2;
  }

  .third {
    order: 3;
  }

  .fourth {
    order :4;
  }

  .admin__image {
    width: 126.66px;

    &--1 {
      width: 380px;
    }
  }
}